

.form
  %h2 Resend confirmation instructions
  
  = semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    - f.inputs do
      = f.input :email, :as => :string 
    
    = f.buttons
    
  = render :partial => "devise/shared/links"

.clear
