/* line 7, ../../../app/stylesheets/pages/home.sass */
body#pages_home hr {
  margin: 2em 0;
}
/* line 10, ../../../app/stylesheets/pages/home.sass */
body#pages_home #intro_container {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  margin-left: 0;
}
/* line 16, ../../../app/stylesheets/pages/home.sass */
body#pages_home #intro_container .box h1 {
  font-size: 2.4em;
  margin: 0;
}
/* line 20, ../../../app/stylesheets/pages/home.sass */
body#pages_home #intro_container .box p.slogan {
  color: #428edb;
  font-size: 1.4em;
}
/* line 24, ../../../app/stylesheets/pages/home.sass */
body#pages_home #download_container {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  text-align: center;
}
/* line 28, ../../../app/stylesheets/pages/home.sass */
body#pages_home #download_container a#download_button {
  width: 195px;
  height: 57px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  text-indent: -9999px;
  background: transparent url("/images/download.png") top left no-repeat;
}
/* line 37, ../../../app/stylesheets/pages/home.sass */
body#pages_home #feature_container {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  margin-right: 0;
}
/* line 41, ../../../app/stylesheets/pages/home.sass */
body#pages_home #feature_container .feature {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
/* line 44, ../../../app/stylesheets/pages/home.sass */
body#pages_home #feature_container .feature#authentication, body#pages_home #feature_container .feature#authorization {
  margin-left: 0;
}
/* line 48, ../../../app/stylesheets/pages/home.sass */
body#pages_home #feature_container .feature#user_management, body#pages_home #feature_container .feature#future_proof {
  margin-right: 0;
}
/* line 52, ../../../app/stylesheets/pages/home.sass */
body#pages_home #other_features_container {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
/* line 55, ../../../app/stylesheets/pages/home.sass */
body#pages_home #other_features_container .column {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  margin-left: 0;
  margin-right: 0;
}
/* line 60, ../../../app/stylesheets/pages/home.sass */
body#pages_home #other_features_container .column li {
  list-style: disc;
}
/* line 63, ../../../app/stylesheets/pages/home.sass */
body#pages_home #about_us_container {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
/* line 66, ../../../app/stylesheets/pages/home.sass */
body#pages_home #help_container {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
