
#what_for_container
  %h1 
    Alors à quoi ça sert?
  %p
    Nous avions besoin d'une base solide pour construire nos propres projets à partir de rails. Depuis l'intégration de tous les
    ces éléments disparates n'est pas la chose la plus facile dans le monde, nous avons décidé de libérer
    cet exemple de site dans l'espoir que cela permettrait d'économiser du temps ainsi.
    
#plans_container
  %h1 
    Les plans pour l'avenir
  %p
    Nous envisageons de prendre en charge l'ajout de
    %a{:href => 'http://chargify.com/'} une 
    %a{:href => 'http://recurly.com/'} ou
    %a{:href => 'https://cheddargetter.com/'} plus
    services de paiement de l'abonnement, ainsi que
    %a{:href => 'http://github.com/thoughtbot/paperclip'} Paperclip 
    upload de soutien. S'il ya une commune cas d'utilisation que vous souhaitez
    voir figurer, s'il vous plaît
    %a{:href => 'http://recursive-design.com/contact/'} écrivez-nous
    et nous le faire savoir!
     
.clear

%hr

.item
  %h2 
    Haml modèles
  %p
    Haml prend votre brute, laid modèles et les remplace par de véritables Haiku.
  %p  
    Haml est basé sur un principe fondamental. Markup doit être belle.
    %a{:href => 'http://haml-lang.com/', :class => 'read_more'} Lire la suite ...

.item
  %h2 
    Soutien CoffeeScript
  %p
    CoffeeScript est une langue peu qui compile en JavaScript. Pensez-y comme frère JavaScript enfant moins ostentatoire - les mêmes gènes, à peu près la même hauteur, mais un sens différent du style.
    %a{:href => 'http://jashkenas.github.com/coffee-script/', :class => 'read_more'} Lire la suite ...

.clear

.item
  %h2 
    Metrics par metric_fu
  %p
    Metric_fu est un ensemble de tâches rake qui font qu'il est facile de générer des rapports 
    métriques. Il utilise Saikuro, Flog, Flay, Rcov, Reek, Roodi, Churn, RailsBestPractices, 
    Subversion, Git, et Rails tâche intégrée stats pour créer une série de rapports.
    %a{:href => 'http://metric-fu.rubyforge.org/', :class => 'read_more'} Lire la suite ...

.item
  %h2 
    Full suite de tests RSpec
  %p
    RSpec est un comportement moteur de développement (BDD) cadre pour le langage de programmation Ruby,
    inspiré par JBehave. Il contient son propre cadre moqueur qui est pleinement intégrée dans
    le cadre fondé sur JMock.
    %a{:href => 'http://rspec.info/', :class => 'read_more'} Lire la suite ...

.clear

.item
  %h2 
    960 CSS système de grille
  %p
    Les 960 Grid System est un effort pour rationaliser les tâches de développement Web en fournissant couramment
    utilisé dimensions, basée sur une largeur de 960 pixels.
    %a{:href => 'http://960.gs/', :class => 'read_more'} Lire la suite ...

.item
  %h2 
    Emballage actif Jammit
  %p
    Jammit est une bibliothèque de la force industrielle d'actifs d'emballage pour Rails, fournissant à la fois la
    CSS et JavaScript concaténation et de compression que vous attendez, ainsi que YUI
    Compressor et fermeture du compilateur compatibilité
    %a{:href => 'http://documentcloud.github.com/jammit/', :class => 'read_more'} Lire la suite ...
    
.clear

.item
  %h2 
    Heroku-prêt
  %p
    Heroku est une ligne de support et de Ruby on Rails nuage Platform-as-a-Service. Il a été l'un des premiers
    les fournisseurs de plate-forme de nuages et de la société au cours des rapports 82.000 applications s'exécutant sur son service.
    %a{:href => 'http://heroku.com/', :class => 'read_more'} Lire la suite ...

.item
  %h2 
    Formes Formtastic
  %p
    Formtastic Rails est un FormBuilder DSL (avec quelques autres goodies) pour le rendre beaucoup plus facile de
    créer de belles sémantiquement riche, syntaxiquement génial, facilement et stylable
    merveilleusement accessible formulaires HTML dans vos applications Rails.
    %a{:href => 'http://github.com/justinfrench/formtastic', :class => 'read_more'} Lire la suite ...

.clear
