

#intro_container

  .box
    %h1 Rails Kitchen Sink
    %p.slogan 
      Tout ce qu'il faut, et rien vous n'avez pas.
    %p
      Cette démo est conçu pour fournir une solide génériques
      squelette à base de votre prochain projet sur les rails, et inclut tout
      vous aurez besoin de plonger directement dans votre application et de construire le rêve.
    %p
      Construit sur HTML5 et Rails 3,
      %em Rails Kitchen Sink
      est prêt à basculer.

#feature_container

  .feature#authentication
    %h2 Authentification
    %p 
      Comprend l'inscription, login, mot de passe de réinitialisation
      et grâce fonctionnalité de blocage de compte&nbsp;
      %a{:href => 'http://github.com/plataformatec/devise'}> Devise
      \.

  .feature#user_management
    %h2 Gestion des utilisateurs
    %p 
      Admin utilisateurs peuvent utiliser le haut-section d'administration pour ajouter,
      modifier et supprimer des utilisateurs.
    
  .clear
    
  .feature#authorization
    %h2 Authorization
    %p 
      système d'autorisation simple basé sur&nbsp;
      %a{:href => 'http://github.com/ryanb/cancan'}> CanCan
      , qui vous permet d'étendre pour répondre à vos besoins.
    
  .feature#future_proof
    %h2 Future Proof
    %p 
      Nous avons fait de notre mieux pour utiliser le courant Rails 3 et HTML5 meilleures pratiques.

.clear

%hr

#download_container
  %a{:href => 'http://recursive-design.com/projects/rails-kitchen-sink/', :id => 'download_button'}> Télécharger maintenant!
  
  %p
    %a{:href => 'https://github.com/recurser/rails-kitchen-sink'} ou consulter les sources

.clear

#other_features_container
  %h2 Autres caractéristiques
  
  .column.first
    %ul
      %li 
        %a{:href => 'http://haml-lang.com/'} HAML
        modèles
      %li 
        %a{:href => 'http://jashkenas.github.com/coffee-script/'} CoffeeScript 
        soutien
      %li 
        Metrics par 
        %a{:href => 'http://metric-fu.rubyforge.org/'} metric_fu
      %li 
        Full suite de tests  
        %a{:href => 'http://rspec.info/'} RSpec 
      %li Exemple formulaire de contact
  .column.last
    %ul
      %li 
        %a{:href => 'http://documentcloud.github.com/jammit/'} Jammit
        emballages actifs
      %li 
        %a{:href => 'http://github.com/justinfrench/formtastic'} Formtastic
        forms
      %li 
        %a{:href => 'http://960.gs/'} 960 
        CSS système de grille
      %li I18n-prêts
      %li 
        %a{:href => 'http://heroku.com/'}> Heroku
        \-prêts
      
#about_us_container
  %h2 A propos de nous
  
  %p
    Nous sommes
    %a{:href => 'http://recursive-design.com/'} Recursive
    et nous sommes vraiment dans un logiciel de construction. Si vous êtes intéressé par
    savoir davantage, n'hésitez pas à nous suivre via
    %a{:href => 'http://recursive-design.com/feed/'} RSS
    ou
    %a{:href => 'http://twitter.com/recurser/'} Twitter
    \.
      
#help_container
  %h2 Voulez nous aider?
  
  %p
    Nous aimerions entendre vos suggestions et critiques. Nous sommes également désireux
    de traduire cette démo, donc s'il vous plaît
    %a{:href => 'http://recursive-design.com/contact/'} nous contacter
    si vous voulez aider.
    
.clear
  