

#intro_container

  .box
    %h1 Rails Kitchen Sink
    %p.slogan 
      Everything you need, and nothing you don't.
    %p
      This demo is designed to provide a solid, generic 
      skeleton to base your next rails project on, and includes everything 
      you'll need to dive straight in and get started.
    %p
      Built on HTML5 and Rails 3, 
      %em Rails Kitchen Sink
      is ready to rock.

#feature_container

  .feature#authentication
    %h2 Authentication
    %p 
      Includes registration, login, password-reset 
      and account-locking functionality thanks to&nbsp;
      %a{:href => 'http://github.com/plataformatec/devise'}> Devise
      \.

  .feature#user_management
    %h2 User Management
    %p 
      Admin users can use the built-in administration section to add,
      edit and delete users.
    
  .clear
    
  .feature#authorization
    %h2 Authorization
    %p 
      Simple authorization system based on&nbsp;
      %a{:href => 'http://github.com/ryanb/cancan'}> CanCan
      , which you can extend to meet your needs.
    
  .feature#future_proof
    %h2 Future Proof
    %p 
      We've done our best to use the current Rails 3 and HTML5 best practices.

.clear

%hr

#download_container
  %a{:href => 'http://recursive-design.com/projects/rails-kitchen-sink/', :id => 'download_button'}> Download Now!
  
  %p
    %a{:href => 'http://recursive-design.com/code/p/rails-kitchen-sink/source/tree/master/'} or browse the source

.clear

#other_features_container
  %h2 Other Features 
  
  .column.first
    %ul
      %li 
        %a{:href => 'http://haml-lang.com/'} HAML
        templates
      %li 
        %a{:href => 'http://jashkenas.github.com/coffee-script/'} CoffeeScript 
        support
      %li 
        Metrics by 
        %a{:href => 'http://metric-fu.rubyforge.org/'} metric_fu
      %li 
        Full 
        %a{:href => 'http://rspec.info/'} RSpec 
        test suite
      %li Example contact form
  .column.last
    %ul
      %li 
        %a{:href => 'http://documentcloud.github.com/jammit/'} Jammit
        asset packaging
      %li 
        %a{:href => 'http://github.com/justinfrench/formtastic'} Formtastic
        forms
      %li 
        %a{:href => 'http://960.gs/'} 960 
        CSS grid system
      %li I18n-ready
      %li 
        %a{:href => 'http://heroku.com/'}> Heroku
        \-ready
      
#about_us_container
  %h2 About Us
  
  %p
    We're
    %a{:href => 'http://recursive-design.com/'} Recursive
    and we're really into building software. If you're interested in
    finding out more, feel free to follow us via
    %a{:href => 'http://recursive-design.com/feed/'} RSS
    or
    %a{:href => 'http://twitter.com/recurser/'} Twitter
    \.
      
#help_container
  %h2 Want to help?
  
  %p
    We'd love to hear your suggestions and criticisms. We're also keen
    to translate this demo, so please
    %a{:href => 'http://recursive-design.com/contact/'} contact us
    if you'd like to help.
    
.clear
  