
.form
  %h2 Forgot your password?
  
  = semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
    - f.inputs do
      = f.input :email, :as => :string 
      
    = f.buttons
    
  = render :partial => "devise/shared/links"

.clear