/* line 5, ../../../app/stylesheets/common/flash.sass */
#messages {
  display: none;
}
/* line 8, ../../../app/stylesheets/common/flash.sass */
#messages .flash {
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
  color: #222222;
  line-height: 2em;
  font-size: 1.4em;
  text-align: center;
  width: 100%;
}
/* line 17, ../../../app/stylesheets/common/flash.sass */
#messages .flash.alert {
  background-color: #ffcccc;
  border-bottom: 1px solid #993333;
  color: #993333;
}
/* line 22, ../../../app/stylesheets/common/flash.sass */
#messages .flash.notice {
  background-color: #f0ffcf;
  border-bottom: 1px solid #677f57;
  color: #677f57;
}
