/* line 4, ../../../app/stylesheets/common/footer.sass */
footer {
  border-top: 1px solid #dedede;
  background-color: white;
  height: auto;
  color: #222222;
  margin-top: 20px;
}
/* line 11, ../../../app/stylesheets/common/footer.sass */
footer li {
  float: left;
  margin: 0.5em;
}
/* line 15, ../../../app/stylesheets/common/footer.sass */
footer ul {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
