/* line 5, ../../../app/stylesheets/common/forms.sass */
.form {
  position: relative;
  left: 240px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
/* line 10, ../../../app/stylesheets/common/forms.sass */
.form .formtastic fieldset ol li {
  overflow: hidden;
}
/* line 15, ../../../app/stylesheets/common/forms.sass */
.form .formtastic fieldset ol li p.inline-errors {
  float: left;
  padding: 0 0.5em;
  margin: 0 0 0 0.5em;
  font-size: 0.9em;
  background-color: #ffcccc;
  color: #993333;
  border: 1px solid #993333;
}
/* line 24, ../../../app/stylesheets/common/forms.sass */
.form .formtastic fieldset ol li.error input {
  float: left;
}
/* line 28, ../../../app/stylesheets/common/forms.sass */
.form .formtastic fieldset ol li.string input, .form .formtastic fieldset ol li.numeric input {
  max-width: 13em;
}
/* line 32, ../../../app/stylesheets/common/forms.sass */
.form #error_explanation {
  background-color: #ffcccc;
  color: #993333;
  border: 1px solid #993333;
  padding: 0.5em;
  margin: 0 auto 1em auto;
}
/* line 39, ../../../app/stylesheets/common/forms.sass */
.form #error_explanation h2 {
  font-size: 1.2em;
  margin: 0;
}
