/* line 14, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_text.sass */
body {
  font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

/* line 6, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_text.sass */
a:focus {
  outline: 1px dotted invert;
}

/* line 8, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_text.sass */
hr {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* line 14, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_text.sass */
h1 {
  font-size: 25px;
}

/* line 16, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_text.sass */
h2 {
  font-size: 23px;
}

/* line 18, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_text.sass */
h3 {
  font-size: 21px;
}

/* line 20, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_text.sass */
h4 {
  font-size: 19px;
}

/* line 22, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_text.sass */
h5 {
  font-size: 17px;
}

/* line 24, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_text.sass */
h6 {
  font-size: 15px;
}

/* line 26, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_text.sass */
ol {
  list-style: decimal;
}

/* line 28, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_text.sass */
ul {
  list-style: square;
}

/* line 30, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_text.sass */
li {
  margin-left: 30px;
}

/* line 32, ../../../../../../../../usr/local/Cellar/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_text.sass */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

/* line 14, ../../../app/stylesheets/common/grid.sass */
.content {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 16, ../../../app/stylesheets/common/grid.sass */
.content #header,
.content #footer {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 19, ../../../app/stylesheets/common/grid.sass */
.content #header, .content #footer {
  width: 940px;
}
