/* line 5, ../../../app/stylesheets/common/header.sass */
header {
  border-bottom: 1px solid #dfdfdf;
  background-color: #fafafa;
  height: auto;
  color: #222222;
  margin-bottom: 2em;
  height: 3em;
}

/* line 14, ../../../app/stylesheets/common/header.sass */
ul#header_menu {
  overflow: hidden;
}
/* line 17, ../../../app/stylesheets/common/header.sass */
ul#header_menu li {
  float: left;
  margin: 0 0.5em;
  line-height: 3em;
  list-style: none;
}
/* line 23, ../../../app/stylesheets/common/header.sass */
ul#header_menu li#english_tab, ul#header_menu li#french_tab {
  float: right;
}
/* line 27, ../../../app/stylesheets/common/header.sass */
ul#header_menu ul {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 34, ../../../app/stylesheets/common/header.sass */
ul#header_menu a {
  font-size: 1.1em;
  color: #428edb;
}
/* line 38, ../../../app/stylesheets/common/header.sass */
ul#header_menu a:visited {
  color: #428edb;
}
/* line 41, ../../../app/stylesheets/common/header.sass */
ul#header_menu a:hover {
  color: #428edb;
}

/* line 44, ../../../app/stylesheets/common/header.sass */
body#pages_home header li#home_tab a,
body#pages_about header li#about_tab a,
body#contacts_new header li#contact_tab a,
body#users_index header li#users_tab a,
body#registrations_edit header li#profile_tab a,
body#sessions_new header li#sign_in_tab a,
body#registrations_new header li#sign_up_tab a {
  color: #222222;
}
