

@import compass/reset
@import 960/grid
@import 960/text
@import colors


+text

body
  //font: 13.34px helvetica, arial, freesans, clean, sans-serif

a
  text-decoration: none
  color: $link
  
  &:visited
    color: $link_visited
    text-decoration: none
  
  &:hover
    color: $link_visited
    text-decoration: underline
    
hr
  height: 1px
  display: block
  border: 0
  border-top: 1px solid #ccc

.content
  +grid-container
  
.clear
  clear: both
  display: block
  overflow: hidden
  visibility: hidden
  width: 0
  height: 0
  