
$body_bg:               #fff
$text:                  #222
$text_faded:            #999
$info_border:           #d5dae3
$info_bg:               #eef3fd
$aside_border:          #ccc
$aside_bg:              #efefef
$highlight_bg:          #ffffdf
$hr:                    #ddd
$heading:               #000
$heading_emph:          #3671a1
$quote:                 #333

$link:                  #428edb
$link_hover:            #428edb
$link_visited:          #428edb

$header_bg:             #fafafa
$header_border:         #dfdfdf
$header_text:           $text
$header_link:           $link
$header_link_hover:     $link_hover
$header_link_visited:   $link

$footer_bg:             #fff
$footer_border:         #dedede
$footer_text:           $text 
$footer_link:           $link
$footer_link_hover:     $link_hover

$error_border:          #993333
$error_bg:              #ffcccc
$error_text:            #993333

$notice_border:         #677F57
$notice_bg:             #F0FFCF
$notice_text:           #677F57

$th_border:             $info_border
$th_text:               $text
$th_bg:                 $info_bg
$td_border:             $info_border
$td_text:               $text
$td_bg:                 $body_bg
