
@import 960/grid
@import colors

header 
  border-bottom: 1px solid $header_border
  background-color: $header_bg
  height: auto
  color: $header_text
  margin-bottom: 2em
  height: 3em
  
  li
    float: left
    margin: 0 0.5em
    line-height: 3em
    list-style: none
    
  ul
    width: 100%
    overflow: hidden
    margin: 0
    padding: 0
    +grid-container
    
  a
    font-size: 1.1em
    color: $header_link
  
    &:visited
      color: $header_link_visited
  
    &:hover
      color: $header_link_hover
  