
table.list 
  border-collapse: collapse
  
  td, th
    border: 1px solid $td_border
    padding: 0.5em
    
  th
    color: $th_text
    background-color: $th_bg
    
  td
    color: $td_text
    background-color: $td_bg