%header
  %nav
    %ul
      %li= link_to t('common.header_link_home'), root_path
      %li= link_to t('common.header_link_about'), about_path
      %li= link_to t('common.header_link_contact'), contact_path
      