%p= t('users.mailer.unlock_instructions.welcome_message', :email => @resource.email)
%p= t('users.mailer.unlock_instructions.lock_explanation')
%p= t('users.mailer.unlock_instructions.resend_link_explanation')
%p= link_to t('users.mailer.unlock_instructions.resend_link'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
